# -------------------------------
# PopcornTV - .gitignore
# -------------------------------

# Fichiers de configuration sensibles
config.php

# Dossier des images uploadées
/uploads/

# Logs et fichiers temporaires
*.log
*.tmp
*.bak
*.swp

# Cache / sessions
/tmp/
sessions/
*.cache

# IDE / éditeurs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Système
.DS_Store
Thumbs.db

